Flask==2.1.1
google-cloud-datastore==2.5.1
pip==22.0.4
setuptools==62.1.0
google-auth==2.6.6
requests==2.27.1
wheel~=0.37.1
Werkzeug~=2.0.3
rsa~=4.8
pyasn1~=0.4.8
six~=1.16.0
MarkupSafe~=2.1.1
Jinja2~=3.0.3
click~=8.0.4
itsdangerous~=2.1.1
cachetools~=4.2.4
certifi~=2021.10.8
urllib3~=1.26.9
google-api-python-client~=2.40.0
pyparsing~=3.0.7
httplib2~=0.20.4
idna~=3.3
uritemplate~=4.1.1
libcst~=0.4.1