<!doctype html>
<html>
<head>

    <!-- <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" /> -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet"
    href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />

  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',
  filename='style.css') }}">

</head>
<body>
 <div class="topnav">
    <a id="home" href="{{ url_for('home')}}" >HOME</a>
     <a id="sign-in" hidden="false">SIGN IN</a>
     <a id="sign-out" hidden="true">SIGN OUT</a>

 </div>

    {{user_tweets}}
    <div class="centerItems">
        <h2>{{user_info.name}}</h2>
        <h3>username:{{user_info.username}}</h3>

        <div class="card">
            Profile Description:
            <p>{{user_info.description}}</p>
            <button type="button" style="padding:0px;" onclick="window.location.href='{{ url_for ( 'edit_profile_info') }}'"><i style="font-size:20px;" class="material-icons">edit</i></button>

        </div>
    </div>

    {% if add==False %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        This username already exists! Try something else.
    </div>
    {% endif %}


    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</body>

</html>
